<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    {% load static %}
    <link rel=stylesheet href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
</head>

<body>

    <header class="header-nav">
        <ul class="navbar">
            <li> <a href="">HOME</a> </li>
            <li><a href="">TEAMS</a></li>
            <li> <a href="/players">PLAYERS</a></li>
            <li> <a href="/news">NEWS</a> </li>
            <li> <a href="">MATCHES</a> </li>
        </ul>
        <form>
            <input type="text" name="" placeholder="Search...">
            <input type="submit" name="" value="Search">
        </form>
    </header>

    <main role="main">
        <div class="container body-content">
            {% block content %} {% endblock %}
        </div>
    </main>

    <footer>
        <hr />
        <p>&copy; {{ year }} - My Django Application</p>
    </footer>

    <script type="text/javascript">
        var nav = document.getElementsByClassName("navbar");

        window.onscroll = function sticky() {
            if (window.pageYOffset > nav[0].offsetTop)
                nav[0].classList.add("nav");
            else
                nav[0].classList.remove("nav")
        }
    </script>

</body>

</html>
