{% extends "layout.html" %}
{% load static %}

{% block content %}
<section class="match">

    {{ match_header | safe }}

</section>

<section class="match-lineup">

    <div class="home-lineup">

        <h1>Liverpool - LineUp</h1>

        <div class="box">
            <div class="player" id="goalkeeper">
                <img src="https://cdn.sofifa.com/players/212/831/21_240.png" alt="">
                <p>Goolkeeper</p>
                <a href=""></a>
            </div>
            <ul class="group">
                <li class="player" id="defense">
                    <img src="https://cdn.sofifa.com/players/231/281/21_240.png" alt="">
                    <p>Defense</p>
                    <a href=""></a>
                </li>
                <li class="player" id="defense">
                    <img src="https://cdn.sofifa.com/players/225/100/21_240.png" alt="">
                    <p>Defense</p>
                    <a href=""></a>
                </li>
                <li class="player" id="defense">
                    <img src="https://cdn.sofifa.com/players/203/376/21_240.png" alt="">
                    <p>Defense</p>
                    <a href=""></a>
                </li>
                <li class="player" id="defense">
                    <img src="https://cdn.sofifa.com/players/216/267/21_240.png" alt="">
                    <p>Defense</p>
                    <a href=""></a>
                </li>
            </ul>
            <ul class="group">
                <li class="player" id="midfield">
                    <img src="https://cdn.sofifa.com/players/183/711/21_240.png" alt="">
                    <p>Midfield</p>
                    <a href=""></a>
                </li>
                <li class="player" id="midfield">
                    <img src="https://cdn.sofifa.com/players/209/499/21_240.png" alt="">
                    <p>Midfield</p>
                    <a href=""></a>
                </li>
                <li class="player" id="midfield">
                    <img src="https://cdn.sofifa.com/players/181/291/21_240.png" alt="">
                    <p>Midfield</p>
                    <a href=""></a>
                </li>
            </ul>
            <ul class="group">
                <li class="player" id="forward">
                    <img src="https://cdn.sofifa.com/players/209/331/21_240.png" alt="">
                    <p>Forward</p>
                    <a href=""></a>
                </li>
                <li class="player" id="forward">
                    <img src="https://cdn.sofifa.com/players/201/942/21_240.png" alt="">
                    <p>Forward</p>
                    <a href=""></a>
                </li>
                <li class="player" id="forward">
                    <img src="https://cdn.sofifa.com/players/213/135/21_240.png" alt="">
                    <p>Forward</p>
                    <a href=""></a>
                </li>
            </ul>

            <ul class="substitues">
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/194/911/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/138/412/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/220/971/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/208/722/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/198/784/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/193/348/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/197/061/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
            </ul>
        </div>

    </div>

    <div class="home-lineup">

        <h1>Liverpool - LineUp</h1>

        <div class="box">
            <div class="player" id="goalkeeper">
                <img src="https://cdn.sofifa.com/players/212/831/21_240.png" alt="">
                <p>Goolkeeper</p>
                <a href=""></a>
            </div>
            <ul class="group">
                <li class="player" id="defense">
                    <img src="https://cdn.sofifa.com/players/231/281/21_240.png" alt="">
                    <p>Defense</p>
                    <a href=""></a>
                </li>
                <li class="player" id="defense">
                    <img src="https://cdn.sofifa.com/players/225/100/21_240.png" alt="">
                    <p>Defense</p>
                    <a href=""></a>
                </li>
                <li class="player" id="defense">
                    <img src="https://cdn.sofifa.com/players/203/376/21_240.png" alt="">
                    <p>Defense</p>
                    <a href=""></a>
                </li>
                <li class="player" id="defense">
                    <img src="https://cdn.sofifa.com/players/216/267/21_240.png" alt="">
                    <p>Defense</p>
                    <a href=""></a>
                </li>
            </ul>
            <ul class="group">
                <li class="player" id="midfield">
                    <img src="https://cdn.sofifa.com/players/183/711/21_240.png" alt="">
                    <p>Midfield</p>
                    <a href=""></a>
                </li>
                <li class="player" id="midfield">
                    <img src="https://cdn.sofifa.com/players/209/499/21_240.png" alt="">
                    <p>Midfield</p>
                    <a href=""></a>
                </li>
                <li class="player" id="midfield">
                    <img src="https://cdn.sofifa.com/players/181/291/21_240.png" alt="">
                    <p>Midfield</p>
                    <a href=""></a>
                </li>
            </ul>
            <ul class="group">
                <li class="player" id="forward">
                    <img src="https://cdn.sofifa.com/players/209/331/21_240.png" alt="">
                    <p>Forward</p>
                    <a href=""></a>
                </li>
                <li class="player" id="forward">
                    <img src="https://cdn.sofifa.com/players/201/942/21_240.png" alt="">
                    <p>Forward</p>
                    <a href=""></a>
                </li>
                <li class="player" id="forward">
                    <img src="https://cdn.sofifa.com/players/213/135/21_240.png" alt="">
                    <p>Forward</p>
                    <a href=""></a>
                </li>
            </ul>

            <ul class="substitues">
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/194/911/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/138/412/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/220/971/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/208/722/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/198/784/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/193/348/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
                <li class="player">
                    <img src="https://cdn.sofifa.com/players/197/061/21_240.png" alt="">
                    <p>Substitutes</p>
                    <a href=""></a>
                </li>
            </ul>
        </div>

    </div>

</section>

<section class="match-info-extras">

    <ul class="team-info">
        <li class="info">
            <p>
                7':Grant Hanley (Own goal)
            </p>
            <i class="fas fa-futbol"></i>
        </li>
        <li class="info">
            <p>
                19':Mohamed Salah
            </p>
            <i class="fas fa-futbol"></i>
        </li>
        <li class="info"> 
            <p>
                28':Virgil van Dijk
            </p>
            <i class="fas fa-futbol"></i>
        </li>
        <li class="info">
            <p>
                42':Divock Origi
            </p>
            <i class="fas fa-futbol"></i>
        </li>
    </ul>


    <ul class="team-info">
        <li class="info">
            <p>
                64':Teemu Pukki;
            </p>
            <i class="fas fa-futbol"></i>
        </li>
        <li class="info">
            <p>
                60':Moritz Leitner;
            </p>
            <img src="https://img.icons8.com/color/30/000000/soccer-yellow-card.png" />
        </li>
        <li class="info">
            <p>
                65':Emiliano Buendia;
            </p>
            <img src="https://img.icons8.com/color/30/000000/foul.png" />
        </li>
    </ul>

</section>
{% endblock %}
