{% extends "layout.html" %}
{% load static %}

{% block content %}
    <select name="forma" onchange="location = this.value;">
        <option value="/matches">ALL</option>
        <option value="/matches?league=4328">Premier League</option>
        <option value="/matches?league=4334">Ligue 1</option>
        <option value="/matches?league=4331">Bundesliga</option>
        <option value="/matches?league=4332">Serie A</option>
        <option value="/matches?league=4344">Primeira Liga</option>
        <option value="/matches?league=4335">La Liga</option>
    </select>

    <button class="create" onclick="location='/matches/create'">
        Create Match
    </button>

    {{ generated | safe }}

    <script type="text/javascript">
      function changeNext() {
          var league = '{{ league_id }}';
          if (league != '')
          {
              if (document.getElementById("next").href.slice(-1) == "=")
                  document.getElementById("next").href += league;
              else {
                  document.getElementById("next").href = document.getElementById("next").href.slice(0, -4) + league;
              }
          }
        return false;
      };
      function changePrevious() {
          var league = '{{ league_id }}';
          if (league != '')
          {
              if (document.getElementById("previous").href.slice(-1) == "=")
                  document.getElementById("previous").href += league;
              else {
                  document.getElementById("previous").href = document.getElementById("previous").href.slice(0, -4) + league;
              }
          }
        return false;
      };
      changeNext();
      changePrevious();
    </script>
{% endblock %}