{% extends "layout.html" %}
{% load static %}

{% block content %}

<body>


    <div class="slidershow">

        <div class="slides">

            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">

            <div class="slide s1">
                <img src="{% static 'images/bnr3.jpg' %}" alt="">
                <h3>
                    Minim reprehenderit veniam deserunt exercitation Lorem. Lorem occaecat laborum consequat excepteur
                    aliqua ut elit irure excepteur reprehenderit adipisicing mollit. Deserunt duis laboris dolore
                    pariatur ipsum commodo in.
                </h3>
                <p>
                    Mollit laboris commodo Lorem duis culpa deserunt sint ut id culpa elit. Laboris commodo proident in
                    sunt magna consectetur incididunt aliqua non consectetur consequat deserunt non enim. Proident
                    laborum ut excepteur aliqua. Cillum anim deserunt ullamco sint officia nulla dolore eiusmod
                    cupidatat ipsum aliquip cillum ex ullamco.

                    Quis Lorem occaecat tempor duis do duis pariatur voluptate do magna amet aliqua ipsum. Qui excepteur
                    sunt cillum dolore culpa exercitation nostrud velit. Laborum velit proident ad ullamco minim enim
                    culpa deserunt non aliqua excepteur. Tempor in nostrud adipisicing veniam. Exercitation ea
                    exercitation pariatur cupidatat officia sunt amet. Aliqua quis aute reprehenderit ullamco et
                    pariatur nisi amet. Nisi cupidatat consectetur mollit eiusmod esse minim adipisicing commodo.
                </p>
                <div class="date">
                    <p>
                        24/2/2020
                    </p>
                    <a>
                        Magna fugiat labore aute tempor et eiusmod duis laboris.
                    </a>
                </div>
            </div>
            <div class="slide s2">
                <img src="{% static 'images/bnr3.jpg' %}" alt="">
                <h3>
                    Minim reprehenderit veniam deserunt exercitation Lorem. Lorem occaecat laborum consequat excepteur
                    aliqua ut elit irure excepteur reprehenderit adipisicing mollit. Deserunt duis laboris dolore
                    pariatur ipsum commodo in.
                </h3>
                <p>
                    Mollit laboris commodo Lorem duis culpa deserunt sint ut id culpa elit. Laboris commodo proident in
                    sunt magna consectetur incididunt aliqua non consectetur consequat deserunt non enim. Proident
                    laborum ut excepteur aliqua. Cillum anim deserunt ullamco sint officia nulla dolore eiusmod
                    cupidatat ipsum aliquip cillum ex ullamco.

                    Quis Lorem occaecat tempor duis do duis pariatur voluptate do magna amet aliqua ipsum. Qui excepteur
                    sunt cillum dolore culpa exercitation nostrud velit. Laborum velit proident ad ullamco minim enim
                    culpa deserunt non aliqua excepteur. Tempor in nostrud adipisicing veniam. Exercitation ea
                    exercitation pariatur cupidatat officia sunt amet. Aliqua quis aute reprehenderit ullamco et
                    pariatur nisi amet. Nisi cupidatat consectetur mollit eiusmod esse minim adipisicing commodo.
                </p>
                <div class="date">
                    <p>
                        24/2/2020
                    </p>
                    <a>
                        Magna fugiat labore aute tempor et eiusmod duis laboris.
                    </a>
                </div>
            </div>
            <div class="slide s3">
                <img src="{% static 'images/bnr1.jpg' %}" alt="">
                <h3>
                    Minim reprehenderit veniam deserunt exercitation Lorem. Lorem occaecat laborum consequat excepteur
                    aliqua ut elit irure excepteur reprehenderit adipisicing mollit. Deserunt duis laboris dolore
                    pariatur ipsum commodo in.
                </h3>
                <p>
                    Mollit laboris commodo Lorem duis culpa deserunt sint ut id culpa elit. Laboris commodo proident in
                    sunt magna consectetur incididunt aliqua non consectetur consequat deserunt non enim. Proident
                    laborum ut excepteur aliqua. Cillum anim deserunt ullamco sint officia nulla dolore eiusmod
                    cupidatat ipsum aliquip cillum ex ullamco.

                    Quis Lorem occaecat tempor duis do duis pariatur voluptate do magna amet aliqua ipsum. Qui excepteur
                    sunt cillum dolore culpa exercitation nostrud velit. Laborum velit proident ad ullamco minim enim
                    culpa deserunt non aliqua excepteur. Tempor in nostrud adipisicing veniam. Exercitation ea
                    exercitation pariatur cupidatat officia sunt amet. Aliqua quis aute reprehenderit ullamco et
                    pariatur nisi amet. Nisi cupidatat consectetur mollit eiusmod esse minim adipisicing commodo.
                </p>
                <div class="date">
                    <p>
                        24/2/2020
                    </p>
                    <a>
                        Magna fugiat labore aute tempor et eiusmod duis laboris.
                    </a>
                </div>
            </div>

        </div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
        </div>

    </div>

    <div class="news-wrapper">
        <ul class="news-list">
            <li class="news">
                <img src="{% static 'images/bnr2.jpg' %}" alt="">
                <h3>
                    Sit Lorem anim ut veniam officia minim ex occaecat eu mollit.
                </h3>
                <p>
                    Cupidatat irure voluptate exercitation sunt ad. Nostrud laboris laboris sunt mollit deserunt ut.
                    Laborum nulla elit magna amet nostrud irure eu nostrud quis sit aliquip labore culpa et. Sunt veniam
                    nulla ipsum sunt ut ea id veniam in enim laborum fugiat laborum. Ad eiusmod sint nisi fugiat est
                    commodo ut dolor deserunt ea. Est proident ad sint voluptate sint minim sit.

                    Dolore sunt est qui cillum id laboris. Qui ipsum labore ullamco aliqua nulla officia aute irure in
                    voluptate. Cupidatat pariatur consectetur voluptate consequat.
                </p>
                <div class="date">
                    <p>
                        24/2/2020
                    </p>
                    <a href="">
                        Magna fugiat labore aute tempor et eiusmod duis laboris.
                    </a>
                </div>
            </li>
            <li class="news">
                <img src="{% static 'images/bnr2.jpg' %}" alt="">
                <h3>
                    Sit Lorem anim ut veniam officia minim ex occaecat eu mollit.
                </h3>
                <p>
                    Cupidatat irure voluptate exercitation sunt ad. Nostrud laboris laboris sunt mollit deserunt ut.
                    Laborum nulla elit magna amet nostrud irure eu nostrud quis sit aliquip labore culpa et. Sunt veniam
                    nulla ipsum sunt ut ea id veniam in enim laborum fugiat laborum. Ad eiusmod sint nisi fugiat est
                    commodo ut dolor deserunt ea. Est proident ad sint voluptate sint minim sit.

                    Dolore sunt est qui cillum id laboris. Qui ipsum labore ullamco aliqua nulla officia aute irure in
                    voluptate. Cupidatat pariatur consectetur voluptate consequat.
                </p>
                <div class="date">
                    <p>
                        24/2/2020
                    </p>
                    <a>
                        Magna fugiat labore aute tempor et eiusmod duis laboris.
                    </a>
                </div>
            </li>
            <li class="news">
                <img src="{% static 'images/bnr2.jpg' %}" alt="">
                <h3>
                    Sit Lorem anim ut veniam officia minim ex occaecat eu mollit.
                </h3>
                <p>
                    Cupidatat irure voluptate exercitation sunt ad. Nostrud laboris laboris sunt mollit deserunt ut.
                    Laborum nulla elit magna amet nostrud irure eu nostrud quis sit aliquip labore culpa et. Sunt veniam
                    nulla ipsum sunt ut ea id veniam in enim laborum fugiat laborum. Ad eiusmod sint nisi fugiat est
                    commodo ut dolor deserunt ea. Est proident ad sint voluptate sint minim sit.

                    Dolore sunt est qui cillum id laboris. Qui ipsum labore ullamco aliqua nulla officia aute irure in
                    voluptate. Cupidatat pariatur consectetur voluptate consequat.
                </p>
                <div class="date">
                    <p>
                        24/2/2020
                    </p>
                    <a>
                        Magna fugiat labore aute tempor et eiusmod duis laboris.
                    </a>
                </div>
            </li>
            <li class="news">
                <img src="{% static 'images/bnr2.jpg' %}" alt="">
                <h3>
                    Sit Lorem anim ut veniam officia minim ex occaecat eu mollit.
                </h3>
                <p>
                    Cupidatat irure voluptate exercitation sunt ad. Nostrud laboris laboris sunt mollit deserunt ut.
                    Laborum nulla elit magna amet nostrud irure eu nostrud quis sit aliquip labore culpa et. Sunt veniam
                    nulla ipsum sunt ut ea id veniam in enim laborum fugiat laborum. Ad eiusmod sint nisi fugiat est
                    commodo ut dolor deserunt ea. Est proident ad sint voluptate sint minim sit.

                    Dolore sunt est qui cillum id laboris. Qui ipsum labore ullamco aliqua nulla officia aute irure in
                    voluptate. Cupidatat pariatur consectetur voluptate consequat.
                </p>
                <div class="date">
                    <p>
                        24/2/2020
                    </p>
                    <a>
                        Magna fugiat labore aute tempor et eiusmod duis laboris.
                    </a>
                </div>
            </li>

        </ul>

    </div>


</body>

{% endblock %}
