{% extends "layout.html" %}
{% load static %}

{% block content %}
    <select class="drop" name="forma" onchange="location = this.value;">
        <option value="/players">ALL</option>
        <option value="/players?pos=GK">GK</option>
        <option value="/players?pos=CB">RB</option>
        <option value="/players?pos=LB">LB</option>
        <option value="/players?pos=RWB">RWB</option>
        <option value="/players?pos=LWB">LWB</option>
        <option value="/players?pos=RW">RW</option>
        <option value="/players?pos=LW">LW</option>
        <option value="/players?pos=ST">ST</option>
    </select>

    {{ generated | safe }}
{% endblock %}


