{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="team-group">
    <div class="teambox">
        <div class="imagebox">
            <img src="https://www.thesportsdb.com/images/media/team/badge/a1af2i1557005128.png" alt="">
        </div>
        <div class="team-info">
            <span>Club</span>
            <h1>ClubName</h1>
            <span>league</span>
            <h1>LeagueName</h1>
            <a href="/teams">
                <i class="fas fa-plus"></i>
            </a>

        </div>
    </div>
    <div class="teambox">
        <div class="imagebox">
            <img src="https://www.thesportsdb.com/images/media/team/badge/a1af2i1557005128.png" alt="">
        </div>
        <div class="team-info">
            <span>Club</span>
            <h1>ClubName</h1>
            <span>league</span>
            <h1>LeagueName</h1>
            <a href="/teams">
                <i class="fas fa-plus"></i>
            </a>

        </div>
    </div>
    <div class="teambox">
        <div class="imagebox">
            <img src="https://www.thesportsdb.com/images/media/team/badge/a1af2i1557005128.png" alt="">
        </div>
        <div class="team-info">
            <span>Club</span>
            <h1>ClubName</h1>
            <span>league</span>
            <h1>LeagueName</h1>
            <a href="/teams">
                <i class="fas fa-plus"></i>
            </a>

        </div>
    </div>
    <div class="teambox">
        <div class="imagebox">
            <img src="https://www.thesportsdb.com/images/media/team/badge/a1af2i1557005128.png" alt="">
        </div>
        <div class="team-info">
            <span>Club</span>
            <h1>ClubName</h1>
            <span>league</span>
            <h1>LeagueName</h1>
            <a href="/teams">
                <i class="fas fa-plus"></i>
            </a>

        </div>
    </div>
    <div class="teambox">
        <div class="imagebox">
            <img src="https://www.thesportsdb.com/images/media/team/badge/a1af2i1557005128.png" alt="">
        </div>
        <div class="team-info">
            <span>Club</span>
            <h1>ClubName</h1>
            <span>league</span>
            <h1>LeagueName</h1>
            <a href="/teams">
                <i class="fas fa-plus"></i>
            </a>

        </div>
    </div>
    <div class="teambox">
        <div class="imagebox">
            <img src="https://www.thesportsdb.com/images/media/team/badge/a1af2i1557005128.png" alt="">
        </div>
        <div class="team-info">
            <span>Club</span>
            <h1>ClubName</h1>
            <span>league</span>
            <h1>LeagueName</h1>
            <a href="/teams">
                <i class="fas fa-plus"></i>
            </a>

        </div>
    </div>


</div>


{% endblock %}
