{% extends "layout.html" %}
{% load static %}

{% block content %}

<section class="info-team"
    style="--team-stadium: url('https://www.thesportsdb.com/images/media/team/stadium/uuqtuu1420403254.jpg');">

    <div class="team-base-info">
        <img src="https://www.thesportsdb.com/images/media/team/badge/7po4e21563652867.png" alt="">
        <h1 class="team-name">
            Belenenses SAD
        </h1>
        <div class="base-info">
            <h3> liga </h3>
            <p>Portuguese Primeira Liga</p>
            <h3> data de fundação </h3>
            <p> 1919 </p>
            <!-- divisão -->
            <h3> nome do estadio </h3>
            <p>Estádio Nacional</p>
            <h3> alcunhas </h3>
            <p> NONE </p>
            <a href="site.osbelenensessad.com"> website </a>
        </div>

        <p class="description">
            Belenenses SAD, is a Portuguese football club from Lisbon founded on 30 June 2018 (as an independent
            entity). An unlawfully representation of the historic football club Clube de Futebol Os Belenenses, they
            currently play in the Primeira Liga.
        </p>

    </div>
</section>

<section class="equipment-plantel">
    <div class="equipment">

        <!-- Could be more than 1 image -->

        <img src="https://www.thesportsdb.com/images/media/team/jersey/yqsyrr1474198169.png" alt="">

    </div>
    <div class="plantel">
        <!-- ainda estou a pensar como fazer. 
            O ideal seria colocar lista com os cartões tal como está na pagina "PLayers" -->
    </div>

</section>

<section class="calendar" style="visibility: hidden;">

    <!-- igual à pagina de matches mas horizontal -->

</section>

<section class="team-extra" style="visibility: hidden;">
    <!-- no idea for now -->
</section>

{% endblock %}
